* {
  font-family: "Work Sans", sans-serif;
}
.btn {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
}
.btn-2 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  margin-left: 20px;
}
.btn-3 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #fff;
  color: #ff42a5;
  border: none;
  margin-bottom: 40px;
}
main {
  max-width: 90rem;
  margin: 0px auto;
}

/* CSS for the nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.span {
  color: #ff42a5;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 86.041px;
  height: 40px;
  padding-right: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 15px;
}

.nav-follow-us {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.nav-follow-us h5 {
  margin-right: 10px;
}

.nav-follow-us li {
  margin-right: 5px;
}

.nav-follow-us img {
  width: 20px;
  height: 20px;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background: #fff;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 700px 900px;
}
.header-text {
  list-style: none;
  padding-bottom: 20px;
}
.goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
}

/* We are gamer section */
.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 0 120px;
}
.we-are-gamer-content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.we-are-gamer h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 46px;
  font-weight: 700;
}
.we-are-gamer p {
  text-align: right;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.our-purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.we-are-gamer h3 {
  color: #534c64;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.we-are-gamer-flex-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.we-are-gamer img {
  width: 550px;
  height: auto;
}
.we-are-gamer-img {
  order: 1;
}

.we-are-gamer-text {
  order: 2;
}

/* Online Games Funny Videos Section */
.gr-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  font-weight: 700;
}
.online-games-content {
  padding: 0 120px;
}
.online-games-text h1 {
  color: #0b0223;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}
.online-games-text p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.online-games-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.online-games-btn p {
  text-align: left;
  margin-top: 350px;
}

.online-games-btn {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 400px;
  height: 342px;
  border-radius: 10px;
}

.initial-image-1,
.initial-image-2,
.initial-image-3,
.initial-image-4,
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: opacity 0.3s ease;
}

.initial-image-1 {
  background-image: url("../images/Rectangle\ 4.png");
}
.initial-image-2 {
  background-image: url("../images/Rectangle\ 5.png");
}
.initial-image-3 {
  background-image: url("../images/Rectangle\ 7.png");
}
.initial-image-4 {
  background-image: url("../images/Rectangle\ 6.png");
}

.hover-image {
  opacity: 0;
  background-image: url("../images/—Pngtree—watch\ now\ buttons_8791214.png");
  background-size: cover;
  color: #f948b2;
}

.online-games-btn:hover .initial-image {
  opacity: 1;
}

.online-games-btn:hover .hover-image {
  opacity: 0.6;
  background-color: #534c64;
}

/* play instantly section */

.play-instantly {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  margin-bottom: 40px;
}

.play-instantly-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.play-instantly-text h1 {
  color: #0b0223;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  text-align: right;
}

.play-instantly img {
  height: 60%;
  margin-left: 220px;
}

.play-instantly-badge {
  border-radius: 8px;
  width: 340px;
  padding: 20px;
  position: relative;
  bottom: 140px;
}

.play-instantly-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.play-instantly-text {
  flex: 1;
}

.play-instantly-img {
  position: relative;
}

.play-instantly-badge {
  position: absolute;
  bottom: -14%;
  left: -12%;
}

/* Careers Section */

.career-content {
  padding: 0 120px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.career-text h1 {
  flex: 1;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
}

.carrer-para {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.career-options {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.career-img {
  background-repeat: no-repeat;
}

/* Game Category Section */
.game-category-content {
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.image-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
}

.button-text {
  margin-left: 8px;
  padding: 2px;
}

.image-button:hover {
  color: #ff42a5;
  border: 1px solid #ff42a5;
}

/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0b0223;
  padding: 0 120px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-h1 {
  color: white;
  margin: 10px 0 0 10px;
}

.footer-content-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.footer-links-1 ul,
.footer-links-2 ul,
.footer-social-media ul {
  display: flex;
  list-style: none;
  padding: 20px;
}

.footer-links-1 ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.footer-links-2 ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 40px;
  padding: 10px;
}

.footer-social-media ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 15px;
}

.footer-bottom {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}

/* Media Queries */
@media screen and (max-width: 425px) {
  .nav,
  .nav-links,
  .header,
  .online-games-img,
  .career-content,
  .play-instantly-content,
  .play-instantly {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 40px;
    height: auto;
    padding-right: 10px;
  }
  .online-games-content,
  .header,
  .we-are-gamer,
  .career-img,
  .online-games-img img {
    width: 100%;
  }
  .header-content-right img {
    width: 100%;
  }
  .header-text {
    padding-bottom: 10px;
  }

  .we-are-gamer-content {
    text-align: center;
  }

  .online-games-btn {
    margin: 20px;
  }

  .we-are-gamer img {
    width: 20rem;
  }
  .we-are-gamer h1 {
    font-size: 32px;
    text-align: center;
  }

  .we-are-gamer p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .our-purpose {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
  }

  .we-are-gamer h3 {
    font-size: 26px;
    line-height: 28px;
  }

  .we-are-gamer-flex-order {
    flex-direction: column;
  }

  .we-are-gamer-img,
  .we-are-gamer-text {
    order: initial;
  }

  .online-games-text h1 {
    font-size: 32px;
  }

  .online-games-text p {
    font-size: 16px;
    line-height: 20px;
  }

  .play-instantly img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
  }

  .play-instantly-text h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .play-instantly-badge {
    bottom: -40px;
    left: -120px;
  }

  .play-instantly-content {
    flex-direction: column;
    padding: 10px;
  }

  .career-content,
  .career {
    width: 100%;
  }

  .career-text h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .carrer-para {
    font-size: 14px;
    line-height: 20px;
  }

  .career-options {
    text-align: center;
  }

  .game-category-content .image-button img {
    max-width: 100%;
    height: auto;
  }

  .game-category-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 5px;
    text-align: center;
  }

  .online-games-btn {
    margin-bottom: 10px;
  }

  .we-are-gamer-img {
    max-width: 100%;
    margin: 0 auto;
  }
  .game-category-content,
  .career-content,
  .play-instantly,
  .online-games-content,
  .we-are-gamer,
  .header,
  .nav {
    padding: 0 12rem;
    align-items: center;
  }

  body {
    overflow-x: hidden;
    align-items: center;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 0 180px;
  }
}
@media screen and (max-width: 768px) {
  .header,
  .online-games-img,
  .career-content,
  .play-instantly-content,
  .play-instantly {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav {
    width: 100%;
  }
  .logo img {
    width: 40px;
    height: auto;
    padding-right: 10px;
  }
  .online-games-content,
  .header,
  .we-are-gamer,
  .career-img,
  .online-games-img img {
    width: 100%;
  }
  .header-content-right img {
    width: 100%;
  }
  .header-text {
    padding-bottom: 10px;
  }

  .we-are-gamer-content {
    text-align: center;
  }

  .online-games-btn {
    margin: 20px;
  }

  .we-are-gamer img {
    width: 20rem;
  }
  .we-are-gamer h1 {
    font-size: 32px;
    text-align: center;
  }

  .we-are-gamer p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .our-purpose {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
  }

  .we-are-gamer h3 {
    font-size: 26px;
    line-height: 28px;
  }

  .we-are-gamer-flex-order {
    flex-direction: column;
  }

  .we-are-gamer-img,
  .we-are-gamer-text {
    order: initial;
  }

  .online-games-text h1 {
    font-size: 32px;
  }

  .online-games-text p {
    font-size: 16px;
    line-height: 20px;
  }

  .play-instantly img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
  }

  .play-instantly-text h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .play-instantly-badge {
    bottom: -70px;
    left: -160px;
  }

  .play-instantly-content {
    flex-direction: column;
    padding: 10px;
  }

  .career-content,
  .career {
    width: 100%;
  }

  .career-text h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .carrer-para {
    font-size: 14px;
    line-height: 20px;
  }

  .career-options {
    text-align: center;
  }

  .game-category-content .image-button img {
    max-width: 100%;
    height: auto;
  }

  .game-category-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
  }

  .online-games-btn {
    margin-bottom: 10px;
  }

  .we-are-gamer-img {
    max-width: 100%;
    margin: 0 auto;
  }
  .game-category-content,
  .career-content,
  .play-instantly,
  .online-games-content,
  .we-are-gamer,
  .header,
  .nav {
    padding: 0 12rem;
    align-items: center;
  }

  body {
    overflow-x: hidden;
    align-items: center;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 0 200px;
  }
}
