* {
  font-family: "Work Sans", sans-serif;
}
.btn {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
}
.btn-2 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  margin-left: 20px;
}

/* CSS for the nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.span {
  color: #ff42a5;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 86.041px;
  height: 40px;
  padding-right: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 15px;
}

.nav-follow-us {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.nav-follow-us h5 {
  margin-right: 10px;
}

.nav-follow-us li {
  margin-right: 5px;
}

.nav-follow-us img {
  width: 20px;
  height: 20px;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background: #fff;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 700px 900px;
}
.header-text {
  list-style: none;
  padding-bottom: 20px;
}
.goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
}

/* We are gamer section */
.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 0 120px;
}
.we-are-gamer-content {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.we-are-gamer-text {
  padding-top: 40px;
}
.we-are-gamer h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 46px;
  font-weight: 700;
}
.we-are-gamer p {
  text-align: right;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.our-purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.we-are-gamer h3 {
  color: #534c64;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.we-are-gamer-flex-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.we-are-gamer-img {
  order: 1;
}

.we-are-gamer-text {
  order: 2;
}

/* Online Games Funny Videos Section */
.gr-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  font-weight: 700;
}
.online-games-content {
  padding: 0 120px;
}
.online-games-text h1 {
  color: #0b0223;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}
.online-games-text p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.online-games-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
